* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url("../img/contact.jpeg");
}

h1 {
  font-size: 1.5rem;
  padding-bottom: 20px;
}

.contact-container {
  display: flex;
  margin: auto;
  width: 500px;
  background: #fff;
  padding: 20px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.151);
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}


.contact-container h1 {
  color: #000000;
  font-weight: bold;
  margin: 10px 30px;
  padding: 0;
  text-transform: uppercase;
}

.contact-container input {
  outline: none;
  padding: 15px 15px;
  margin-bottom: 30px;
  font-size: 16px;
}

.contact-container textarea {
  height: 80px;
  padding: 10px 15px;
  margin-bottom: 20px;
  resize: none;
  font-size: 16px;
}

.contact-container input,
textarea {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 2px solid #999;
}

button {
  background-color: #000000;
  font-size: 18px;
  outline: none;
  padding: 15px 30px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 0.5em;
  border: none;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #708238;
}

.contact-container form div {
  position: relative;
}

.contact-container form div label {
  position: absolute;
  top: 10px;
  left: 0;
  pointer-events: none;
  color: #999;
  transition: 0.3s;
}

.contact-container input:focus ~ label,
.contact-container textarea:focus ~ label,
.contact-container input:valid ~ label,
.contact-container textarea:valid ~ label {
  top: -12px;
  left: 0;
  color: #708238;
  font-size: 16px;
  font-weight: bold;
}

.contact-container input:focus,
.contact-container textarea:focus,
.contact-container input:valid,
.contact-container textarea:valid {
  border-bottom: 2px solid #708238;
}

@media only screen and (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    width: 300px;
    padding: 25px;
  }

  input,
  textarea,
  label {
    font-size: 18px;
  }
}
