* {
    margin: 0px;
    padding: 0px;
  }

  body {
    font-family: "Roboto", sans-serif;
  }

 .description {
    padding: 30px;
    background-color: #000000;
    color: #ffffff;
  }

.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input input, select {
    padding: 10px;
    border-radius: 5px;
    margin-left: 15px;
    width: 250px;
}

.input button  {
    color: #ffffff;
    background-color: #000000;
    padding: 8px;
    border-radius: 5px;

}

.input button:hover {
    background-color: #708238;
}

.input__searcher {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 45px;

}

.input__interaction {
    display: flex;
    justify-content: space-around;
    margin: 50px;

}

h2 {
    margin: 10px;
}





  @media screen and (max-width: 768px) {

    .input__searcher {
      display: flex;
      flex-direction: column;
      margin: auto;
      margin-top: 20px;
  
  }
    .input__interaction {
      display: flex;
      flex-direction: column;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 30px;
  
  }

}